body {  
  
  
  font-family: 'Cinzel Decorative', cursive;
  color: rgb(255, 255, 255);
  font-weight: 900;
 background:url(../images/backgroundimage.jpg) top right no-repeat; background-attachment:fixed;

}


.overlay {
  background-color: #ff0000;
  opacity: 0.85;
}

